body {
  text-align: center;
  background-color: green;
  margin-top: 50px;
}

p {
  font-weight: bold;
  font-size: 25px;
  font-style: italic;
  font-family: sans-serif;
}

button {
  margin-bottom: 7px;
  width: 180px;
  color: green;
  background-color: yellow;
  border: none;
  font-weight: bold;
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 6px;
}

h1 {
  color: yellow;
}
